@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* custom colors */
  --color-jsky: #c3ebfa;
  --color-skylight: #edf9fd;
  --color-skypurple: #cfceff;
  --color-purplelight: #f1f0ff;
  --color-skyyellow: #fae27c;
  --color-yellowlight: #fefce8;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "Inter", sans-serif !important;
}

.react-calendar__tile--active {
  background-color: #c3ebfa !important;
  color: black !important;
}

.react-calendar__navigation__label {
  font-weight: 600 !important;
}
